.services-secondary .contain-color {
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contain-color .row-padding {
  /* background-color: black;
width: 80vw; */
}

/* .services-secondary .contain-color .text-insta {
  background-color: blue;
  margin-top: 10px;
} */
.dropdown-menu {
  margin-right: 990px;
  width: 2rem;

}

.dropdown-menu .dropdown-item {

  position: relative;
  left: -40px;



}

.dropdown-menu .dropdown-item:hover {


  width: 10rem;



}

.dropdown-menu.show {
  display: block;
  margin-left: 200px;

}

.services-secondary .contain-color .space {
  margin-left: 20px;
}

.services-secondary .contain-color .div {
  margin-right: 20px;
  margin-bottom: 20px;
  color: purple;
  text-transform: capitalize;
}

.services-secondary .contain-color .drop-margin {
  position: relative;
  top: -30px;
  left: 150px;

}

.services-secondary .contain-color .drop-main {
  margin-top: 90px;
}

.services-secondary .contain-color .hr {
  width: 90%;
}

.services-secondary .contain-color .button-admin-service button {
  text-transform: capitalize;
  background-color: rgb(241, 235, 235);
  width: 95%;
  opacity: 0.5;
}

.services-secondary .contain-color .category-hide {
  color: purple;
  text-transform: capitalize;
  margin-left: 60%;
  cursor: pointer;
}

@media (min-width: 1281px) {
  .services-secondary .contain-color {
    padding-left: 90px;
  }
}

@media (min-width: 830px) and (max-width: 1280px) {
  .services-secondary .batn-adjust {
    position: relative;
    left: -100%;
  }
}

@media (min-width: 830px) and (max-width: 992px) {
  .services-secondary .search-container {
    margin-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .services-secondary .contain-color .font {
    width: 100%;
    font-size: 15px;
  }

  .contain-color {
    padding-left: 25px;
  }

  .product-right-head-container {
    width: 70vw;
    margin-left: 10rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
  }

  .line {
    position: relative;
  }

  .line::before {
    content: "";
    position: absolute;
    width: 90%;
    background-color: rebeccapurple;
    border: 1px solid rebeccapurple;
    top: -10px;
  }

  .services-secondary .hr {
    opacity: 0;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .services-secondary .contain-color {
    padding-right: 50px;
    margin-top: 100px;
  }

  .services-secondary .contain-color .button-admin-service button {

    width: 100%;
    opacity: 0.5;
    margin-left: auto;
    margin-right: auto;
    margin-left: 5px;
  }

  .services-secondary .contain-color .hr {
    width: 100%;
  }

  .services-secondary .contain-color .line {
    position: relative;
  }



  .line::before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: rebeccapurple;
    border: 1px solid rebeccapurple;
    top: -10px;
  }

  .services-secondary .contain-color .hr {
    opacity: 0;
  }
}

@media (min-width: 250px) and (max-width: 576px) {
  .font {}

  .services-secondary .contain-color {
    width: 100vw;
    margin-top: 100px;
    position: relative;
    left: -30px;
    font-size: 10px;
    padding-right: 60px;
  }

  .services-secondary .contain-color .drop-margin {
    padding-top: 10px;
  }

  .services-secondary .contain-color .dropdown-toggle {
    font-size: 10px;
  }

  .contain-color .hr {
    width: 100%;
    padding-left: 50px;
  }

  .contain-color .button-admin-service .pakage-btn {
    margin-left: 10px;

  }

  .services-secondary .contain-color .service-free {
    padding-top: 7px;
    position: relative;
    left: 25px;
  }

  .services-secondary .contain-color .hr {
    opacity: 0;
  }

  .line {
    position: relative;
  }

  .line::before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: rebeccapurple;
    border: 1px solid rebeccapurple;
    top: -10px;
  }
}

@media (max-width: 430px) {
  .services-secondary .contain-color {
    padding-right: 55px;
    margin-top: 100px;
    font-size: 10px;
  }

  .services-secondary .contain-color .dropdown-toggle {
    font-size: 10px;
    position: relative;
    bottom: 5px;
  }

  .hr {
    position: relative;
    left: 5px;
  }

  .hr::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 9px solid grey;
    top: 0;
    left: 0;
    background-color: aqua;
    color: black;
  }

  .services-secondary .contain-color .pakage-btn {
    text-transform: capitalize;
    background-color: rgb(234, 225, 234);

    font-size: 12px;
  }

  .bi-list {
    /* position: relative;
     right: 32px; */
  }
}

/* 
   @media (max-width:490px) {
.free{
     position: relative;
     bottom: 5px;
     left: 6px;
}

.hide{
     margin-left: 90%;
}
.drop-margin{
     left: 100%;
   top: -45px;
}
.contain-color{
     width: 100vw;
     padding-right: 200px;
     
}

.line
{
     position: relative;
}

.line::before{
     content: "";
     position: absolute;
     width: 70vw;
     background-color: rebeccapurple;
     border: 1px solid rebeccapurple;
     top: -10px;
}

.batan-add{
     width: 70vw;
}

   } */

@media (max-width: 350px) {
  .services-secondary .contain-color .font {
    font-size: 9px;
  }

  .services-secondary .contain-color .service-free {
    position: relative;
    bottom: 9px;
    left: 15px;
  }
}

@media (max-width: 490px) {
  .services-secondary .contain-color .pakage-btn {
    width: 90vw;
  }

  .services-secondary .contain-color .drop-margin {
    left: 120px;
    margin-bottom: 3px;
  }

  .contain-color .category-hide {
    margin-left: 85%;
  }

  .services-secondary .contain-colo .filter-btn {}

  .services-secondary .contain-color .search-container {
    position: relative;
    left: 2%;
  }
}

@media (max-width: 392px) {
  .services-secondary .contain-color .drop-margin {
    left: 95px;
    width: 100px;
  }
}

@media (max-width: 380px) {
  .services-secondary .contain-color .drop-margin {
    width: 100%;
  }

  .services-secondary .contain-color .category-service {
    width: 100px;
  }
}

@media (max-width: 361px) {
  .services-secondary .contain-color .drop-margin {
    width: 100%;
    top: -48%;
  }

  .services-secondary .contain-color .category-service {
    width: 100px;
  }
}

@media (max-width: 351px) {
  .services-secondaryc .contain-color .drop-margin {
    width: 100%;
    left: 95px;
    top: -48%;
  }
}